USE [master]
GO
/****** Object:  Database [EmployeeList]    Script Date: 6/30/2025 11:06:26 PM ******/
CREATE DATABASE [EmployeeList]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeList', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EmployeeList.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeList_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EmployeeList_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeList].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeList]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/30/2025 11:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 6/30/2025 11:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mode] [nvarchar](max) NULL,
	[Firstname] [nvarchar](max) NULL,
	[Middlename] [nvarchar](max) NULL,
	[Lastname] [nvarchar](max) NULL,
	[Birthdate] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[CivilStatus] [nvarchar](max) NULL,
	[Nationality] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[DateEmployed] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbEmployee]    Script Date: 6/30/2025 11:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbEmployee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [varchar](50) NULL,
	[Middlename] [varchar](50) NULL,
	[Lastname] [varchar](50) NULL,
	[Birthdate] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[CivilStatus] [varchar](50) NULL,
	[Nationality] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[DateEmployed] [varchar](50) NULL,
	[Disable] [varchar](50) NULL,
	[DateTimeStamp] [varchar](50) NULL,
 CONSTRAINT [PK_tbEmployee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbEmployee] ON 

INSERT [dbo].[tbEmployee] ([id], [Firstname], [Middlename], [Lastname], [Birthdate], [Gender], [CivilStatus], [Nationality], [Position], [DateEmployed], [Disable], [DateTimeStamp]) VALUES (7, N'Brian Charles', N'Pante', N'Dimaala', N'2001-04-28', N'Male', N'Single', N'Filipino', N'C# Developer', N'Jun 30 2025 10:50PM', N'0', N'Jun 30 2025 10:50PM')
INSERT [dbo].[tbEmployee] ([id], [Firstname], [Middlename], [Lastname], [Birthdate], [Gender], [CivilStatus], [Nationality], [Position], [DateEmployed], [Disable], [DateTimeStamp]) VALUES (8, N'John', N'Green', N'Doe', N'2025-06-06', N'Male', N'Single', N'Filipino', N'Senior Developer', N'Jun 30 2025 10:51PM', N'0', N'Jun 30 2025 10:51PM')
INSERT [dbo].[tbEmployee] ([id], [Firstname], [Middlename], [Lastname], [Birthdate], [Gender], [CivilStatus], [Nationality], [Position], [DateEmployed], [Disable], [DateTimeStamp]) VALUES (9, N'Jane', N'Geller', N'Doe', N'2025-06-01', N'Female', N'Divorced', N'Filipino', N'Human Resources', N'Jun 30 2025 10:51PM', N'0', N'Jun 30 2025 10:51PM')
SET IDENTITY_INSERT [dbo].[tbEmployee] OFF
GO
/****** Object:  StoredProcedure [dbo].[cudEmployee]    Script Date: 6/30/2025 11:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cudEmployee]
	@mode varchar(50),
	@id varchar(50),
	@firstname varchar(50),
	@middlename varchar(50),
	@lastname varchar(50),
	@birthdate varchar(50),
	@gender varchar(50),
	@civilstatus varchar(50),
	@nationality varchar(50),
	@position varchar(50)
AS
BEGIN
	
	SET NOCOUNT ON;

	if @mode = 'addEmployee'
	begin
	INSERT INTO 
		tbEmployee(Firstname, Middlename, Lastname, Birthdate, Gender, CivilStatus, Nationality, Position, DateEmployed, Disable, DateTimeStamp)
    VALUES 
		(@firstname, @middlename, @lastname, @birthdate, @gender, @civilstatus, @nationality, @position, GETDATE(), '0', GETDATE())
	end

	if @mode = 'updateEmployee'
	begin
	 UPDATE tbEmployee
    SET 
	Firstname = @firstname,
	Middlename = @middlename,
	Lastname = @lastname,
	Birthdate = @birthdate,
	Gender = @gender,
	CivilStatus = @civilstatus,
	Nationality = @nationality,
	Position = @position
    WHERE 
	id = @Id
	end

	if @mode = 'deleteEmployee'
	begin
		DELETE FROM tbEmployee WHERE id = @Id
	end
END
GO
/****** Object:  StoredProcedure [dbo].[selectEmployee]    Script Date: 6/30/2025 11:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[selectEmployee]
	@mode varchar(50),
	@id varchar(50)
AS
BEGIN
	
	SET NOCOUNT ON;

	if @mode = 'showAll'
	begin
	SELECT 
		id,
		Firstname,
		Middlename,
		Lastname,
		Birthdate,
		Gender,
		CivilStatus,
		Nationality,
		Position,
		DateEmployed
	from
		tbEmployee
	Order by
		id  desc 
	end

	if @mode = 'getEmployee'
	begin
	SELECT 
		*
	from
		tbEmployee
	where 
		id = @id
	end

END
GO
USE [master]
GO
